
#b1 {
    
    margin: 20px auto;
    max-width: 200px;
    border-radius: 5px;
    padding: 5px 10px;
    display: table-cell; 
    vertical-align: middle;
}

#b3{
    margin: auto;
    max-width: 200px;
    border-radius: 5px;
    padding: 15px 0px;
    width: 300px;
    visibility: hidden;
    display: table-cell; 
    vertical-align: middle;
}
#b2{
    border:5px solid black;
    
}
#box{
    border:4px solid black;
    padding:2px 3px;
    border-radius: 10px;
    
}

#skrito{
    visibility: hidden;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4271f4;
    color: #fff; 
    text-align: center;
    border-radius: 2px; 
    padding: 16px;
    position: fixed;
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#bar{
 width:400px;
 height:500px;  
 margin:0;
 padding: 30px;
}

#bar > svg{  
 display:block;
}

.cont{
    padding: auto;
    font-size:15px;
}

.vrst {
    border: 1px solid black;
    width:50%;
}

.alert {
    padding: 20px;
    width:80%;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.legenda{

}
table{
    width: 50%;
    margin: 0 auto;
}
th, td {
    padding: 5px;
    text-align:center;
}

#gumbi{
    display: table; 
    width:100%;
}